<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/order.css">

    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% url 'tomindex' %}?username='{{username}}'&career='{{career}}'">订单信息</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                {% if username != none %}

                <li><a href="{% url 'pinfo' %}?&username='{{username}}'&career='{{career}}'"> {{ username }}</a></li>
                <li><a href="{% url 'show_order2' %}?&username='{{username}}'&career='{{career}}'"> 订单</a></li>
                <li><a href="{% url 'check_all' %}?&username='{{username}}'&career='{{career}}'"> 查看所有评论</a></li>
                {% if career == 'admin' %}
                <li><a href="{% url 'manage' %}?username='{{username}}'&career='{{career}}'">管理页面</a></li>
                {% endif %}
                <li><a href="\login\"> 退出</a></li>

                {% else %}
                <li><a href="/login/">登录</a></li>
                <li><a href="/register/">注册</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>

  <header>
    <img src="/static/res/{{res}}.jpeg" alt="餐厅图片">
  </header>
  <form method="POST" action="/show_order/">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{username}}">
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="career" value="{{career}}">


  <div class="dish-container">
  {% for item in data %}
    <div class="dish">
      <img src="/static/meal/{{item.1}}.jpeg" alt="菜品1">
      <div class="dish-details">
        <div class="dish-name">{{ item.1 }}</div>
        <div class="dish-price">价格：¥ {{item.2}}</div>
        <div class="dish-style">类型:{{ item.5 }}</div>
        <input type="number" class="quantity-input" name="quantity" min="0" value="0">
      </div>
    </div>
    {% endfor %}

  </div>

  <div id="submit-button-container">
    <button id="submit-button" type="submit">提交</button>
  </div>
</form>


</body>
</html>
